* {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #252b47;
  padding: 10px 0 0 0;
}
header .flex-header {
  justify-content: space-between;
  align-items: center;
}
header .flex-header .icon-interact {
  height: 70px;
  transition: 1s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .flex-header .icon-interact {
    height: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  header .flex-header .icon-interact {
    height: 150px;
  }
}
header .flex-header .icon-interact:hover {
  transform: rotate(360deg);
}
header .flex-header .icon-interact:active {
  transform: scale(1.09);
}
header .flex-header .buscador {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
header .flex-header .buscador .buscador-text {
  width: 125px;
  height: 30px;
  border: 3px;
  border-style: solid;
  border-color: #151b38;
  text-indent: 30px;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  background: #e0e2e7 url(../multimedia/icons//buscador.png) no-repeat 5px center;
  outline: none;
  transition: 0.3s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .flex-header .buscador .buscador-text {
    width: 200px;
    height: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  header .flex-header .buscador .buscador-text {
    font-size: 20px;
    width: 260px;
    height: 35px;
  }
}
header .flex-header .buscador .buscador-text:hover {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}
header .flex-header .buscador .buscador-text:focus {
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
}
header .flex-header .buscador .categorias1 {
  width: 20px;
  height: 30px;
  text-align: center;
  text-indent: 2px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: #333851;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: #151b38 solid 3px;
  outline: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .flex-header .buscador .categorias1 {
    height: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  header .flex-header .buscador .categorias1 {
    font-size: 15px;
    width: 100px;
    height: 35px;
  }
}
header .flex-header .buscador .categorias1 option {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .flex-header .buscador .categorias1 option {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  header .flex-header .buscador .categorias1 option {
    font-size: 15px;
  }
}
header .flex-header .position-user {
  display: flex;
  justify-content: center;
}
header .flex-header .position-user .fa-xl {
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  line-height: 20PX;
  height: 20px;
  width: 20px;
  margin: 5PX;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .flex-header .position-user .fa-xl {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  header .flex-header .position-user .fa-xl {
    font-size: 25px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}
header .flex-header .position-user .fa-xl:hover {
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #83899d;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  header .flex-header .position-user .fa-xl:hover {
    border-radius: 10px;
  }
}
header .flex-header .fa-xl:active {
  color: black;
}
header .navbar {
  height: 50px;
  padding: 10px 0 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar {
    height: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  header .navbar {
    height: 60px;
  }
}
header .navbar .bar {
  height: 40px;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar .bar {
    height: 40px;
  }
}
header .navbar .bar button {
  height: 40px;
  width: 40px;
  padding: 0;
  transition: 0.5s;
  backdrop-filter: blur(5px);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar .bar button {
    height: 40px;
    width: 40px;
  }
}
header .navbar .bar button i {
  color: whitesmoke;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar .bar button i {
    font-size: 25px;
  }
}
header .navbar .bar button:hover {
  transition: 1s;
  transform: scale(1.09);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(21, 27, 56, 0.8);
  border-radius: 5px;
  border: none;
}
header .navbar .bar .navbar-collapse {
  padding-right: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(21, 27, 56, 0.8);
}
@media only screen and (min-width: 1024px) {
  header .navbar .bar .navbar-collapse {
    background-color: transparent;
  }
}
header .navbar .bar .navbar-collapse ul {
  text-align: right;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  header .navbar .bar .navbar-collapse ul {
    font-size: 17px;
    height: 50px;
    align-items: center;
    background-color: #151b38;
  }
}
header .navbar .bar .navbar-collapse li {
  transition: 0.7s;
}
header .navbar .bar .navbar-collapse li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  transition: 1s;
}
header .navbar .bar .navbar-collapse li a:hover {
  color: whitesmoke;
}
header .navbar .bar .navbar-collapse li a:active {
  color: black;
}
header .navbar .bar .navbar-collapse li:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px black;
  background-color: #83899d;
  border-radius: 10px;
}

main {
  padding: 10px 0 10px 0;
  background-color: #83899d;
}

.flex-home {
  display: flex;
  flex-direction: column;
}
.flex-home .subtitulo {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding: 5px;
  margin: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-home .subtitulo {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-home .subtitulo {
    font-size: 25px;
  }
}
.flex-home .product1,
.flex-home .product2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.align-product {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-color: #9398AA;
  color: black;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .align-product {
    height: 310px;
  }
}
@media only screen and (min-width: 1024px) {
  .align-product {
    width: 210px;
    height: 350px;
  }
}
.align-product .c-b {
  height: 75%;
  background-color: white;
}
.align-product .c-b .img-home {
  line-height: 75%;
}
.align-product .card-body {
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 0px;
}
@media only screen and (min-width: 1024px) {
  .align-product .card-body {
    padding-bottom: 16px;
  }
}
.align-product .card-body .nombre {
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 0px;
}
@media only screen and (min-width: 1024px) {
  .align-product .card-body .nombre {
    font-size: 14px;
  }
}
.align-product .card-body .precio {
  font-size: 17px;
  align-items: center;
  justify-content: end;
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  .align-product .card-body .precio {
    font-size: 18px;
  }
}
.align-product .card-body .precio p {
  margin-bottom: 0px;
}
.align-product .card-body .precio .carrito-agregar {
  margin: 3px;
  text-align: center;
}
.align-product .card-body .precio .carrito-agregar .fa-cart-arrow-down {
  font-size: 13px;
  color: #272626;
  margin: 7px;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .align-product .card-body .precio .carrito-agregar .fa-cart-arrow-down {
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .align-product .card-body .precio .carrito-agregar .fa-cart-arrow-down {
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
.align-product .card-body .precio .carrito-agregar i:active {
  color: whitesmoke;
}
.align-product .card-body .precio .carrito-agregar:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.align-product .card-body p:active {
  color: #e57c23;
}

.align-product:hover {
  box-shadow: 0 2px 5px black;
  background-color: #545a72;
  border-radius: 10px;
  transform: scale(0.9);
  color: whitesmoke;
}

.filtrado {
  padding: 10px;
  border-bottom: 2px solid whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.filtrado .filtrado-categorias {
  height: 20px;
  width: 115px;
  font-size: 10px;
  text-indent: 5px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: #333851;
  outline: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .filtrado .filtrado-categorias {
    height: 25px;
    width: 140px;
    font-size: 12px;
  }
}
.filtrado .filtrado-categorias option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 1024px) {
  .filtrado .filtrado-categorias {
    width: 170px;
    height: 30px;
    font-size: 15px;
  }
}
.filtrado .alineacion-list {
  height: 30px;
  width: 30px;
  line-height: 18px;
  border: 2px solid #272626;
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: whitesmoke;
}
@media only screen and (min-width: 1024px) {
  .filtrado .alineacion-list {
    height: 35px;
    width: 35px;
    font-size: 20px;
    line-height: 22px;
  }
}

.position-article {
  flex-wrap: wrap;
  padding: 15px 0;
}
@media only screen and (min-width: 1024px) {
  .position-article {
    padding: 15px 25px;
    margin: 0 15px;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
  }
}

.css-pag {
  padding: 5px;
  margin: 16px 0;
}
.css-pag .activado {
  background-color: #333851;
}
.css-pag span,
.css-pag a {
  background-color: transparent;
  border-color: #2b3035;
  color: #272626;
  transition: 0.5s;
}
.css-pag a:visited {
  color: whitesmoke;
  border-color: #272626;
}
.css-pag a:focus {
  box-shadow: none;
  transform: scale(1.09);
  background-color: #333851;
}
.css-pag span:hover,
.css-pag a:hover {
  transform: scale(1.05);
  background-color: #333851;
  color: whitesmoke;
  border-color: #151b38;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.css-pag a:active {
  transform: scale(1.09) !important;
  color: whitesmoke;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.css-pag a:focus {
  transform: scale(1.05);
}

.background {
  background-image: url(../multimedia/bakgrounds/backgraund-black.png);
  background-size: cover;
}
.background .posicion-cotizacion {
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.background .posicion-cotizacion .alineacion {
  justify-content: end;
}
@media only screen and (min-width: 1024px) {
  .background .posicion-cotizacion .alineacion {
    height: 650px;
    margin: 15px 0;
  }
}
.background .posicion-cotizacion .alineacion .info-alineacion {
  display: flex;
  align-items: center;
}
.background .posicion-cotizacion .alineacion .info-alineacion .info-cotizacion {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  font-style: italic;
}
.background .posicion-cotizacion .alineacion .info-alineacion .info-cotizacion h1 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}
.background .posicion-cotizacion .alineacion .info-alineacion .info-cotizacion p {
  font-size: 15px;
}
.background .posicion-cotizacion .alineacion .info-alineacion .info-cotizacion p span {
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  .background .posicion-cotizacion .alineacion .info-alineacion {
    width: 500px;
  }
}
.background .posicion-cotizacion .alineacion .form-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 15px 10px;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms {
  padding: 15px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
  background-color: rgba(21, 27, 56, 0.8);
  text-align: center;
  width: 290px;
}
@media only screen and (min-width: 1024px) {
  .background .posicion-cotizacion .alineacion .form-position .background-forms {
    width: 350px;
  }
}
.background .posicion-cotizacion .alineacion .form-position .background-forms h2 {
  color: whitesmoke;
  font-size: 22px;
  padding: 10px;
  margin: 10px;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form input,
.background .posicion-cotizacion .alineacion .form-position .background-forms form textarea,
.background .posicion-cotizacion .alineacion .form-position .background-forms form button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin: 10px 0;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form textarea,
.background .posicion-cotizacion .alineacion .form-position .background-forms form input {
  border: solid #454e6c;
  background-color: #e0e2e7;
  text-indent: 5px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form input {
  height: 35px;
}
@media only screen and (min-width: 1024px) {
  .background .posicion-cotizacion .alineacion .form-position .background-forms form input {
    height: 40px;
  }
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form button {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(21, 27, 56, 0.5019607843);
  border: 2px solid #454e6c;
  border-radius: 10px;
  color: white;
  width: 155px;
  height: 30px;
  transition: 0.3s;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form input:hover,
.background .posicion-cotizacion .alineacion .form-position .background-forms form textarea:hover {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  border: 2px solid black;
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form input:focus,
.background .posicion-cotizacion .alineacion .form-position .background-forms form textarea:focus {
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form button:hover {
  transform: scale(1.03);
}
.background .posicion-cotizacion .alineacion .form-position .background-forms form button:active {
  transform: scale(0.9);
  background-color: #020A1D;
  border-color: whitesmoke;
}

.background-nosotros {
  background-image: url(../multimedia/bakgrounds/bakground-nosotros.png);
  background-size: cover;
}
.background-nosotros .position-box {
  align-content: center;
  height: 760px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .background-nosotros .position-box {
    height: 800px;
  }
}
@media only screen and (min-width: 1024px) {
  .background-nosotros .position-box {
    height: 800px;
  }
}
.background-nosotros .position-box section {
  color: whitesmoke;
  padding: 5px;
  margin: 5px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  font-style: italic;
}
@media only screen and (min-width: 1024px) {
  .background-nosotros .position-box section {
    height: 400px;
    justify-content: center;
  }
}
.background-nosotros .position-box section h2 {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
@media only screen and (min-width: 1024px) {
  .background-nosotros .position-box section h2 {
    font-size: 30px;
  }
}
.background-nosotros .position-box section p {
  font-size: 15px;
  padding: 0 10px;
}
@media only screen and (min-width: 1024px) {
  .background-nosotros .position-box section p {
    font-size: 17px;
  }
}

.background-contacto {
  background-image: url(../multimedia/bakgrounds/backgraund-contacto.png);
  background-size: cover;
}
@media only screen and (min-width: 1024px) {
  .background-contacto .align-box {
    height: 750px;
    align-content: center;
  }
}
.background-contacto .align-box .aling-contacto {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  box-shadow: inset 0 2px 5px black;
  padding: 12px;
  margin: 5px 0px;
  background-color: whitesmoke;
}
@media only screen and (min-width: 1024px) {
  .background-contacto .align-box .aling-contacto {
    width: 350px;
  }
}
.background-contacto .align-box .aling-contacto h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  border-bottom: 2px solid black;
}
.background-contacto .align-box .aling-contacto div section {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.background-contacto .align-box .aling-contacto div section i {
  font-size: 25px;
  color: #2b3035;
  transition: 0.5s;
}
@media only screen and (min-width: 1024px) {
  .background-contacto .align-box .aling-contacto div section i {
    font-size: 30px;
  }
}
.background-contacto .align-box .aling-contacto div section .redes:hover {
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  transform: scale(1.03);
}
.background-contacto .align-box .aling-contacto div section p {
  margin: 0;
  font-size: 15px;
  font-style: italic;
}
@media only screen and (min-width: 1024px) {
  .background-contacto .align-box .aling-contacto div section p {
    font-size: 18px;
  }
}
.background-contacto .align-box .aling-contacto .telefono a {
  color: black;
  font-size: 15px;
}
.background-contacto .align-box .aling-contacto .line {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 0 auto;
}
.background-contacto .align-box .aling-contacto iframe {
  display: flex;
  height: 300px;
  width: 250;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .background-contacto .align-box .aling-contacto iframe {
    width: 240px;
  }
}

footer {
  padding: 10px 0;
  background-color: #454e6c;
}
footer .content-footer {
  justify-content: space-evenly;
}
footer .content-footer .footer-redes,
footer .content-footer .footer-metodos,
footer .content-footer .footer-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .content-footer .footer-redes div,
footer .content-footer .footer-metodos div {
  margin: 5px;
  padding: 5px;
}
footer .content-footer .footer-redes .icons {
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: black;
  transition: 0.5s;
}
@media only screen and (min-width: 1024px) {
  footer .content-footer .footer-redes .icons {
    font-size: 22px;
    margin: 5px;
  }
}
footer .content-footer .icons:hover {
  color: whitesmoke;
  cursor: pointer;
}
footer .content-footer .footer-metodos {
  display: none;
}
@media only screen and (min-width: 1024px) {
  footer .content-footer .footer-metodos {
    display: flex;
  }
}
footer .content-footer .footer-metodos .pago {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  color: black;
}
footer .content-footer .footer-links .links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}
footer .content-footer .footer-links .links li {
  text-align: left;
  padding: 3px;
  font-size: 12px;
  transition: 0.5s;
  color: #111213;
  font-weight: bold;
}
footer .content-footer .footer-links .links li a {
  text-decoration: none;
  color: #111213;
}
footer .content-footer .footer-links .links li a:hover {
  color: whitesmoke;
  cursor: pointer;
}
footer .content-footer .footer-links .links li:hover {
  color: whitesmoke;
  cursor: pointer;
}
footer .content-footer h3 {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #111213;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  display: none;
}

/*# sourceMappingURL=style.css.map */
