@import "./mixin";

// =================================== INICIO personalización del MAIN ===================================

main {
    padding: 10px 0 10px 0;
    background-color: $color2;
}

// HOME

.flex-home {
    display: flex;
    flex-direction: column;
    .product1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
    }
    // .product2{
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     justify-content: space-evenly;
    //     padding: 10px;
    // }

}
.subtitulo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding: 5px;
    margin: 5px;
    @include tablet{
        font-size: 22px;
    }
    @include pc{
        font-size: 25px;
    }
}

// -INICIO CARDS del HOME y PRODUCTOS-

.align-product {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    text-align: center;
    transition: $transicion1;
    background-color: #9398AA;
    color: $font-color2;
    @include tablet{
        height: 310px;
    }
    @include pc{
        width: 210px;
        height: 350px;
    }
    .c-b {
        height: 75%;
        background-color: white;
        .img-home {
            line-height: 75%;
        }
    }
    .card-body {
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 0px;
        @include pc{
            padding-bottom: 16px;
        }
        .nombre-item {
            font-size: 12px;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 0px;
            @include pc{
                font-size: 14px;
            }
        }
        .precio {
            font-size: 17px;
            align-items: center;
            justify-content: end;
            font-weight: bold;
            @include pc{
                font-size: 18px;
            }
            p {
                margin-bottom: 0px;
            }
            button.carrito-agregar {
                margin: 3px;
                text-align: center;
                background-color: transparent;
                transition: $transicion1;
                border: 2px solid $font-color3;
                .fa-cart-arrow-down {
                    font-size: 13px;
                    color: $font-color3;
                    margin: 7px;
                    @include tablet{
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    @include pc{
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
            .carrito-agregar:active{
                box-shadow: inset $box-shadows1;
                scale: 0.9;
            }
            .carrito-agregar:hover {
                box-shadow: $box-shadows;
                border-radius: 10px;
                text-align: center;
                background-color: whitesmoke;
            }
        }
    }
    .card-body p:active{
        color: #e57c23;
    }
}
.align-product:hover {
    box-shadow: $box-shadows2;
    background-color: $color5;
    border-radius: 10px;
    transform: scale(0.9);
    color: $font-color1;
}

// -FIN CARDS del HOME y PRODUCTOS-

// PRODUCTOS

.bg-top{
    background-color: $color5;
    color: $font-color1;
    box-shadow: $box-shadows1;
    .h-productos{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        h1{
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px;
            margin-bottom: 0px;
            border-bottom: 2px solid $font-color1;
            text-shadow: $box-shadows2;
            @include tablet{
                font-size: 22px;
            }
            @include pc{
                font-size: 25px;
            }
        }
    }
    .filtrado {
        padding: 10px;
        .filtrado-categorias {
            height: 20px;
            width: 115px;
            font-size: 10px;
            text-indent: 5px;
            border-radius: 10px;
            font-family: $font1;
            color: $font-color1;
            background-color: $color6;
            outline: none;
            @include tablet{
                height: 25px;
                width: 140px;
                font-size: 12px;
            }
            option {
                font-family: $font1;
            }
            @include pc{
                width: 170px;
                height: 30px;
                font-size: 15px;
            }
        }
        .alineacion-list {
            height: 30px;
            width: 30px;
            line-height: 18px;
            font-size: 16px;
            margin: 0;
            padding: 5px;
            color: $font-color1;
            text-shadow: $box-shadows2;
            transition: $transicion4;
            @include pc{
                height: 35px;
                width: 35px;
                font-size: 20px;
                line-height: 22px;
                text-align: center;
            }
        }
        .alineacion-list:hover{
            border-bottom: 2px solid $font-color3;
            transform: scale(1.03);
        }
    }
}

.position-article {
    flex-wrap: wrap;
    padding: 15px 0;
    @include pc{
        padding: 15px 25px;
        margin: 0 15px;
        border-left: 2px solid $font-color1;
        border-right: 2px solid $font-color1;
    }
}


// Paginación
.css-pag {
    padding: 5px;
    margin: 16px 0;
    .activado {
        background-color: $color6;
    }
    span,
    a {
        background-color: transparent;
        border-color: #2b3035;
        color: #272626;
        transition: $transicion1;
    }
    a:visited {
        color: $font-color1;
        border-color: $font-color3;
    }
    a:focus {
        box-shadow: none;
        transform: scale(1.09);
        background-color: $color6;
    }
    span:hover,
    a:hover {
        transform: scale(1.05);
        background-color: $color6;
        color: $font-color1;
        border-color: $color3;
        box-shadow: 2px 3px 5px $box-shadows;
    }
    a:active {
        transform: scale(1.09);
        color: $font-color1;
        box-shadow: 2px 3px 5px $box-shadows;
    }
    a:focus {
        transform: scale(1.05);
    }
}
// COTIZACIÓN
.background {
    background-image: url(../multimedia/bakgrounds/backgraund-black-MB.webp);
    background-size: cover;
    .posicion-cotizacion {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        .alineacion {
            justify-content: end;
            @include pc{
                height: 650px;
                margin: 15px 0;
            }
            .info-alineacion {
                display: flex;
                align-items: center;
                .info-cotizacion {
                    color: $font-color1;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    margin: 5px;
                    align-items: center;
                    border: 1px solid $box-shadows;
                    border-radius: 10px;
                    box-shadow: $box-shadows1;
                    background-color: $blur;
                    backdrop-filter: blur(5px);
                    font-style: italic;
                    h1 {
                        font-weight: bold;
                        font-size: 20px;
                        margin: 10px;
                    }
                    p {
                        font-size: 15px;
                        span {
                        font-weight: bold;
                        }
                    }
                }
                @include pc{
                    width: 500px;
                }
            }

            .form-position {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                padding: 15px 10px;
                .background-forms {
                    padding: 15px 30px 20px 30px;
                    border-radius: 20px;
                    box-shadow: $box-shadows2;
                    background-color: $color4;
                    text-align: center;
                    width: 290px;
                    @include pc{
                        width: 350px;
                    }
                    h2 {
                        color: $font-color1;
                        font-size: 22px;
                        padding: 10px;
                        margin: 10px;
                    }
                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        input,
                        textarea,
                        button {
                            font-family: $font1;
                            font-size: 13px;
                            margin: 10px 0;
                        }
                        textarea,
                        input {
                            border: solid $color7;
                            background-color: $color8;
                            text-indent: 5px;
                            border-radius: 5px;
                            outline: none;
                            transition: $transicion4;
                        }
                        input {
                            height: 35px;
                            @include pc{
                                height: 40px;
                            }
                        }
                        button {
                            box-shadow: 2px 5px 10px $box-shadows;
                            background-color: #151b3880;
                            border: 2px solid $color7;
                            border-radius: 10px;
                            color: $color9;
                            width: 155px;
                            height: 30px;
                            transition: $transicion4;
                        }
                        input:hover,
                        textarea:hover {
                            box-shadow: inset 0 5px 10px $box-shadows;
                            transform: scale(1.05);
                            border: 2px solid $font-color2;
                        }
                        input:focus,
                        textarea:focus {
                        box-shadow: inset 0 10px 10px $box-shadows;
                        }
                        button:hover {
                            transform: scale(1.03);
                        }
                        button:active {
                            transform: scale(0.9);
                            background-color: #020A1D;
                            border-color: $font-color1;
                        }
                    }
                }
            }
        }
    }
}
// NOSOTROS
.background-nosotros {
    background-image: url(../multimedia/bakgrounds/bakground-nosotros-MB.webp);
    background-size: cover;
    background-attachment: fixed;
    top: 0px;
    right: auto;
    .position-box {
        align-content: center;

        section {
            color: $font-color1;
            padding: 5px;
            margin: 15px 5px;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            box-shadow: $box-shadows1;
            background-color: $box-shadows;
            backdrop-filter: blur(5px);
            font-style: italic;
            @include pc{
                height: 400px;
                justify-content: center;
            }
            h1 {
                font-size: 20px;
                padding: 10px;
                margin: 5px;
                font-weight: bold;
                border-bottom: 2px solid $font-color1;
                @include pc{
                    font-size: 30px;
                }
            }
            p {
                font-size: 15px;
                padding: 0 10px;
                @include pc{
                    font-size: 17px;
                }
            }
        }

        span{
            display: flex;
            justify-content: center;
            margin: 10px 0px;
            background-color: $box-shadows;
            box-shadow: $box-shadows1;
            h2{
                color: $font-color1;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                padding: 5px;
                margin-bottom: 0px;
                border-bottom: 2px solid $font-color1;
                @include pc{
                    font-size: 25px;
                }
            }
        }

        .grids{
            background-color: $box-shadows;
            backdrop-filter: blur(5px);
            height: 1300px;
            padding: 15px;
            margin: 15px 0px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(8, 1fr);
            grid-gap: 5px 5px;
            @include tablet{
                @include cuadrilla-tablet
            }
            @include pc{
                @include cuadrilla-pc
            }
            .item{
                border: 2px solid $font-color1;
                background-size: cover;
                background-position: center;
                border-radius: 5px;
                transition: $transicion3;
            }
            .item:hover{
                transform: translateY(-15px) scale(1.09);
                
            }
            .item-1{
                background-image: url(../multimedia/galeria/2.webp);
                grid-column: 1/3;
                grid-row: 1/2;
                @include tablet{
                    @include item1;
                }
                @include pc{
                    @include item1;
                    grid-gap: 10px 10px;
                }
            }
            .item-2{
                background-image: url(../multimedia/galeria/3.webp);
                grid-column: 3/5;
                grid-row: 3/4;
                @include tablet{
                    @include item2
                }
                @include pc{
                    @include item2
                }
            }
            .item-3{
                background-image: url(../multimedia/galeria/7.webp);
                grid-column: 3/5;
                grid-row: 1/3;
                @include tablet{
                    @include item3
                }
                @include pc{
                    @include item3
                }
            }
            .item-4{
                background-image: url(../multimedia/galeria/6.webp);
                grid-column: 1/3;
                grid-row: 2/4;
                @include tablet{
                    @include item4
                }
                @include pc{
                    @include item4
                }
            }
            .item-5{
                background-image: url(../multimedia/galeria/5.webp);
                grid-column: 1/3;
                grid-row: 4/5;
                @include tablet{
                    @include item5
                }
                @include pc{
                    @include item5
                }
            }
            .item-6{
                background-image: url(../multimedia/galeria/9.webp);
                grid-column: 3/5;
                grid-row: 6/7;
                @include tablet{
                    @include item6
                }
                @include pc{
                    @include item6
                }
            }
            .item-7{
                background-image: url(../multimedia/galeria/10.webp);
                grid-column: 3/5;
                grid-row: 4/6;
                @include tablet{
                    @include item7
                }
                @include pc{
                    @include item7
                }
            }
            .item-8{
                background-image: url(../multimedia/galeria/8.webp);
                grid-column: 1/3;
                grid-row: 7/8;
                @include tablet{
                    @include item8
                }
                @include pc{
                    @include item8
                }
            }
            .item-9{
                background-image: url(../multimedia/galeria/1.webp);
                grid-column: 1/3;
                grid-row: 5/7;
                @include tablet{
                    @include item9
                }
                @include pc{
                    @include item9
                }
            }
            .item-10{
                background-image: url(../multimedia/galeria/4.webp);
                grid-column: 1/3;
                grid-row: 8/9;
                @include tablet{
                    @include item10
                }
                @include pc{
                    @include item10
                }
            }
            .item-11{
                background-image: url(../multimedia/galeria/11.webp);
                grid-column: 3/5;
                grid-row: 7/9;
                @include tablet{
                    @include item11
                }
                @include pc{
                    @include item11
                }
            }
        }
    }
}
// CONTACTO
.background-contacto {
    background-image: url(../multimedia/bakgrounds/backgraund-contacto-MB.webp);
    background-size: cover;
    .align-box{
        @include pc{
            height: 800px;
            align-content: center;
            align-content: space-evenly;
        }
        span{
            justify-content: center;
            height: 50px;
            background-color: $box-shadows;
            h1{
                color: $font-color1;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 5px;
                margin: 0px 10px 0px 10px;
                line-height: 40px;
                border-bottom: 2px solid $font-color1;
                @include tablet{
                    font-size: 22px;
                }
                @include pc{
                    font-size: 25px;
                }
            }
        }
        .aling-contacto {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            border: 1px solid rgba(245, 245, 245, 0.5);
            border-radius: 10px;
            box-shadow: inset $box-shadows2;
            padding: 12px;
            margin: 5px 0px;
            background-color: $font-color1;
            @include pc{
                width: 350px;
            }
            h2 {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                padding: 10px;
                margin: 5px;
                border-bottom: 2px solid $font-color2;
            }
            div section {
                display: flex;
                justify-content: space-between;
                padding: 15px 10px;
                i {
                    font-size: 25px;
                    color: #2b3035;
                    transition: $transicion1;
                    @include pc{
                        font-size: 30px;
                    }
                }
                .redes:hover {
                    color:  $font-color2;
                    border-radius: 5px;
                    box-shadow: $box-shadows2;
                    transform: scale(1.03);
                }
                p {
                    margin: 0;
                    font-size: 15px;
                    font-style: italic;
                    @include pc{
                        font-size: 18px;
                    }
                }
            }
            .telefono a {
                color: $font-color2;
                font-size: 15px;
            }
            .line {
                display: flex;
                flex-direction: column;
                width: 50px;
                height: 2px;
                border: 1px solid rgba(0, 0, 0, 0.7);
                border-radius: 10px;
                margin: 0 auto;
            }
            iframe {
                height: 300px;
                width: 270px;
                @include tablet{
                    width: 320px;
                    text-align: center;
                }
            }
        }
    }
}


// CARRITO
.contentcarrito{
    .carrito-vacio, .carrito-comprado{
        color: $color1;
        font-weight: bold;
    }
    .articulos-carrito{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .carrito-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color5;
            border-radius: 10px;
            color: $font-color1;
            padding: 5px;
            margin: 5px;
            .nombre-item{
                text-transform: capitalize;
            }
            .small {
                font-size: small;
                font-weight: bold;
                text-align: center;
            }
            .img-producto{
                width: 120px;
                height: 120px;
                border-radius: 5px;
            }
            .cantidad-item{
                .selector-cantidad{
                    i{
                        border: 1px solid whitesmoke;
                        border-radius: 10px;
                        padding: 3px;
                    }
                    input{
                        width: 25px;
                        text-align: center;
                        background-color: transparent;
                        border: none;
                        color: whitesmoke;
                        margin: 0;
                    }
                }
            }
            .btn-eliminar-item{
                border: 1px solid whitesmoke;
                background-color: transparent;
                padding: 5px;
                color: $font-color3;
                border-radius: 5px;
                
            }
            .btn-eliminar-item:hover{
                scale: 1.05;
                box-shadow: $box-shadows1;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid whitesmoke;
                transition: 0.5s;
            }
            .btn-eliminar-item:active{
                scale: 0.95;
                background-color: $color6;
                color: whitesmoke;
            }
        }
    }
    .carrito-interacciones{
        display: flex;
        justify-content: space-between;
        margin: 5px;
        
        .vaciar-carrito{
            border: 3px solid $color4;
            background-color: $color5;
            padding: 5px;
            border-radius: 5px;
            color: $font-color1;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
        }
        .carrito-comprar{
            border: 3px solid $color5;
            background-color: $color4;
            padding: 5px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            color: $font-color1;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
        }
        .interaccion-derecha{
            display: flex;
            .interaccion-comprar{
                display: flex;
                background-color: $color5;
                padding: 5px;
                color: $font-color1;
                text-transform: capitalize;
                font-weight: bold;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                gap: 1rem;
                p{
                    margin: 0;
                }
                
            }
        }
        button.estilo:hover{
            box-shadow: $box-shadows1;
            transition: 0.3s;
        }
        button.estilo:active{
            scale: 0.95;
            transition: 0.3s;
        }
    }
}
.contentcarrito .disabled{
    display: none;
}

.disabled{
    display: none;
}

.btn-confirmar{
    background: #151b38!important;
    border: 3px solid $color5!important;
    box-shadow: 0 2px 5px gray;
}

.swal2-actions{
    justify-content: center !important;
}
.popup-class{
    background: rgba(51, 56, 81, 1)!important;
}

.title-sweetalert{
    color: $font-color1;
    font-weight: bold;
}


// =================================== FIN personalización del MAIN ===================================

/* Scrollbar */
::-webkit-scrollbar {

    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    display: none;
}