// =================================== VARIABLES ===================================

// Backgrounds y borders
$color1: #252b47;
$color2: #83899d;
$color3: #151b38;
$color4: #151b38cc;
$color5: #545a72;
$color6: #333851;
$color7: #454e6c;
$color8: #e0e2e7;
$color9: white;

// Backgrounds blur
$blur: rgba(0, 0, 0, 0.2);


// Fonts color
$font-color1: whitesmoke;
$font-color2: black;
$font-color3: #272626;
$font-color4: #111213;
$font-color5: #212529;

// Fonts
$font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font2: 'Bai Jamjuree', sans-serif;

// Shadows
$box-shadows: rgba(0, 0, 0, 0.5);
$box-shadows1:  0 2px 5px rgba(0, 0, 0, 0.5);
$box-shadows2:  0 2px 5px black;

// Transiciones
$transicion1: 0.5s;
$transicion2: 1s;
$transicion3: 0.7s;
$transicion4: 0.3s;

// =================================== FIN VARIABLES ===================================